BuscaCepSL/GrcCep_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://webservice.Cep.gibs.com.br/Cep/v1" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.Cep.gibs.com.br/Cep/v1" xmlns:use="http://canonico.Cep.gibs.com.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

			<xsd:import namespace="http://canonico.Cep.gibs.com.br" schemaLocation="XSD/cep/v1/Cep.xsd"/>
			
			<xsd:complexType name="BuscaCepRequestType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="consultaCep" type="use:ConsultaCepRequestType"/>					
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BuscaCepResponseType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="Cep" type="use:ConsultaCepResponseType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element ibmSchExtn:docRoot="true" name="buscaCepRequest" type="tns:BuscaCepRequestType"/>
			<xsd:element ibmSchExtn:docRoot="true" name="buscaCepResponse" type="tns:BuscaCepResponseType"/>
		</xsd:schema>